<%- include('../partials/head') %>


<div class="top-nav">
<a href="/clothing">◄ Back to List</a>
</div>
    <h1>Edit <%= cloth.name %></h1>
    <form action="/clothing/<%= cloth._id%>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"  size="35" value="<%= cloth.name %>" />
  
      <label for="addedToCart">Add or Remove from checkout</label>
      <input type="checkbox" name="addedToCart" id="addedToCart" 
      <% if (cloth.addedToCart) { %>
      checked
      <% } %>
        />
      <button type="submit">Update Item</button>
    </form>
<%- include('../partials/footer') %>

