<%- include('../partials/head') %>
<div style="background-color: lightblue; padding: 10px;">
<a href="/clothing/" style="text-decoration: none; font-weight: 500;">◄ Back to List</a>
</div>
<h2><%= cloth.name %></h2>

<% if (cloth.addToCart) { %>
<p>Added to cart.</p>
<% } else { %>
<p>Edit or Delete your item.</p>
<% } %>

<a href="/clothing/<%= cloth._id %>/edit">Edit <%= cloth.name %></a>
<form action="/clothing/<%=cloth._id%>?_method=DELETE" method="POST">
<button type="submit" class="btn btn-danger">Delete <%= cloth.name %></button>
</form>

<%- include('../partials/footer') %>